@import '~bpk-mixins';

$secondaryText: rgb(118,112,132);

.FlightCardDetail {
  margin-bottom: $bpk-spacing-sm;
  width: 100%;
  p {
    margin: 0;
  }
  &__airport {
    color: $secondaryText;
  }
  &__left {
    display: flex; 
    width: 50%;     
  }
  &__right {
    width: 50%;
    text-align: right;
  }
  &__leg-container {
    display: flex; 
  }
  &__times-container {    
    margin-left: $bpk-spacing-sm;
    display: flex;
    width: calc(100% - 40px); // account for image + padding
    min-width: 120px;
    align-items: center;
    justify-content: space-between;
  }
  &__flight-meta {
    color: $secondaryText;
    line-height: 1.5 !important; // align baseline with flight time and airport
  }
  &__flight-stops_direct {
    color: darken(rgb(000, 166, 152), 7.5%) // Accessible Backpack Monteverde on white bg
  }
  &__flight-stops_indirect {
    color: rgb(203,59,81);
  }
}

.abc-icon__arrow {
  fill: rgb(169,164,181);
}
